@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Pacifico&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container{
    max-width: 1080px;
    margin: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Navbar Styling */
nav .nav-container{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

nav h1 a{
    font-family: 'Pacifico', cursive;
    color: #CA1551;
    margin: 0 10px;
    text-decoration: none;
    font-size: 28px;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.link-container a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

.link-container .login{
    margin: 0 20px;
}

.link-container .login a{
    color: black;
}

.link-container .login a:hover {
    color: #FB4D3D;
}

.link-container .register{
    border-radius: 15px;
    background: rgb(251, 77, 61);
    background: linear-gradient(90deg, rgba(251, 77, 61, 0.6) 0%, rgba(3, 206, 164, 0.7) 100%);
    padding: 10px;
    
}

.link-container .register:hover{
    background: linear-gradient(90deg, rgba(251, 77, 61, 0.9) 0%, rgba(3, 206, 164, 0.9) 100%);
}

.link-container .register a{
    color: white;
}

@media (max-width: 500px){
    .nav-container{
        display: flex;
        flex-direction: column;
    }

    .link-container{
        margin-top: 20px;
    }
}

.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
}

.user-container img{
    height: 36px;
    width: auto;
    border-radius: 100%;
}

.user-container .logout button{
    border: none;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 7px 15px;
    background: linear-gradient(90deg, rgba(251, 77, 61, 0.5) 0%, rgba(3, 206, 164, 0.5) 100%);
}

.user-container .logout button:hover {
    background: linear-gradient(90deg, rgba(251, 77, 61, 0.8) 0%, rgba(3, 206, 164, 0.8) 100%);
}

/* Sign-In with Google Styling */
.sign-in-container{
    max-width: 400px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sign-in-container img{
    width: 50px;
}

.sign-in-container button{
    width: 200px;
    padding: 15px;
    border: none;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: #345995;
    cursor: pointer;
}

.sign-in-container button:hover{
    background-color: #5881c3;
}

/* Create Form Styling */
.create-form-container{
    border: 1px solid black;
    max-width: 450px;
    margin: 40px auto;
    padding: 20px;
}

.create-form-container h1{
    font-size: 20px;
    color: #CA1551;
    margin-bottom: 20px;
}

.create-form-container form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}














input{
    display: block;
    margin-top: 10px;
}

.location-image{
    object-fit: cover;
    width: 250px;
    height: 250px;
}